/* body{
    background: red;
} */
 .coontainer{
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
    /* display: flex; */
 }

.main_font{
    font-family: "Noto Serif", serif;
}

.margin_top{
    margin-top: 200px;
}

@media screen and (max-width: 640px) {
    *{
        text-align: justify;
    }
    .coontainer{
        padding: 0 7px;
    }
    
}