.coontainer {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;

}

.main_font {
    font-family: "Noto Serif", serif;
}

@media screen and (max-width: 640px) {

    .coontainer {
        padding: 0 7px;
    }

}